n8n-meeting-summarizer-workflow.json
{
  "name": "Meeting Summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "your-webhook-id-here",
        "authentication": "basicAuth",
        "options": {
          "binaryPropertyName": "data",
          "ignoreBots": false,
          "noResponseBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        -64
      ],
      "id": "d084bb00-1b22-41c0-ab49-7d9f89255846",
      "name": "Webhook",
      "webhookId": "your-webhook-id-here",
      "credentials": {
        "httpBasicAuth": {
          "id": "your-basic-auth-credential-id",
          "name": "basic credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "inputType": "binary",
        "binaryPropertyName": "data0",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        -64
      ],
      "id": "e071173f-0da2-49f1-9435-a482f71c8757",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "your-google-gemini-credential-id",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/your-notion-page-id",
          "mode": "url"
        },
        "title": "=Meeting Summary {{ $now.format('dd/MM/yyyy HH:mm') }}",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "richText": true,
              "text": {
                "text": [
                  {
                    "text": "={{ $json.content[0].text }}",
                    "annotationUi": {}
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -32,
        -64
      ],
      "id": "d6fe4580-dc93-4bb6-8a6e-f86580bbc136",
      "name": "Create a page",
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "your-notion-credential-id",
          "name": "Notion API connection"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this audio-transcribed text, naming the people who said and finishing with highlights and \"next actions\" if needed. \n**Special highlight whenever someone mentions me *[YOUR_NAME]***\n- use emojis where it suits\n- use a human friendly language\n<input>\n {{ $json.candidates[0].content.parts[0].text }}\n</input>\n<example>\nSummary\n- Sean is working in the feature XYZ, and he is blocked by task assigned to John.\n- John will finish his task this afternoon but he needs [YOUR_NAME] review his code first.\n- Mark will work in a PoC about service bus\n\nAttention \n - You need to code review John's task to unblock Sean\n\nTaking Actions\n - Mark will work in PoC\n</example>"
            }
          ]
        },
        "options": {
          "maxTokens": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ],
      "id": "c948b106-3526-4eb8-a4e5-4de9f31a2ebe",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "your-anthropic-credential-id",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "example-version-id",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "example-instance-id"
  },
  "id": "ExampleWorkflowId",
  "tags": []
}
